language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
matrix:
  allow_failures:
    - python: "2.6"
    - python: "3.2"
    - python: "3.3"
    - python: "3.4"
install:
  - pip install -r requirements.txt
script: 
  - touch sensors/__init__.py
  - nosetests -v
